<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">

            <a href="{{ site.baseurl }}" title="Link to homepage for {{ site.title }}"><img src="{{ site.logo }}"
                                                                                            width="80"
                                                                                            alt="{{ site.title }} logo"
                                                                                            class="panel-cover__logo logo"/></a>

            <h1>
                <a href="{{ site.baseurl }}">
                    {{ site.title }}
                </a>
            </h1>
            <p class="lead">{{ site.description }}</p>
        </div>


        <nav class="sidebar-social">
            <ul class="navigation">

                <!-- GitHub -->
                <li class="social-item github">
                    <a href="https://github.com/anirudhramanan" title="@anirudhramanan on GitHub" target="_blank">
                        <i class='icon fi-social-github'></i>
                        <span class="label">GitHub</span>
                    </a>
                </li>

                <!-- StackOverflow -->
                <li class="social-item stackoverflow">
                    <a href="https://stackoverflow.com/users/5003006/skynet" title="Anirudh on StackOverflow"
                       target="_blank">
                        <i class='icon fi-social-stack-overflow'></i>
                        <span class="label">StackOverflow</span>
                    </a>
                </li>

                <!-- LinkedIn -->
                <li class="social-item linkedin">
                    <a href="https://www.linkedin.com/in/anirudhramanan" title="Anirudh on LinkedIn" target="_blank">
                        <i class='icon fi-social-linkedin'></i>
                        <span class="label">LinkedIn</span>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</div>
